
.swiper-button-prev::after,
  .swiper-button-next::after {
  }

.swiper-button-prev {
  left: 20px;
}

.swiper-button-next {
  right: 20px; 
}


@media (max-width: 450px) {
  .swiper-button-prev::after,
  .swiper-button-next::after {
    display: none;
  }

  .swiper-button-prev,
  .swiper-button-next {
    top: 90px;
    bottom: 90px;
    height: auto; 
    width: 50px; 
    /* border-width: 1px; */
  }

  .swiper-button-prev {
    left: 0; 
  }
  .swiper-button-next {
    right: 0; 
  }
}

